# See config.php.example for more details.
# Moodle Database Configuration
MOODLE_DB_TYPE=mysqli
MOODLE_DB_LIBRARY=native
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASS=moodle

# MOODLE_DB_PREFIX=mdl_
# MOODLE_DB_PERSIST=0
# MOODLE_DB_PORT=
# MOODLE_DB_SOCKET=
# MOODLE_DB_COLLATION=utf8mb4_0900_ai_ci

# Moodle Site Configuration
MOODLE_WWWROOT=http://localhost:8080
MOODLE_DATAROOT=/var/www/moodledata
MOODLE_ADMIN=admin
