<?php  // Moodle configuration file

// Config file exmple for Docker setup using environment variables
// 

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = getenv('MOODLE_DB_TYPE') ?: 'mysqli';
$CFG->dblibrary = getenv('MOODLE_DB_LIBRARY') ?: 'native';
$CFG->dbhost    = getenv('MOODLE_DB_HOST') ?: 'db';
$CFG->dbname    = getenv('MOODLE_DB_NAME') ?: 'moodle';
$CFG->dbuser    = getenv('MOODLE_DB_USER') ?: 'moodle';
$CFG->dbpass    = getenv('MOODLE_DB_PASS') ?: 'moodle';
$CFG->prefix    = getenv('MOODLE_DB_PREFIX') ?: 'mdl_';
$CFG->dboptions = array(
  'dbpersist'   => getenv('MOODLE_DB_PERSIST') ?: 0,
  'dbport'      => getenv('MOODLE_DB_PORT') ?: '',
  'dbsocket'    => getenv('MOODLE_DB_SOCKET') ?: '',
  'dbcollation' => getenv('MOODLE_DB_COLLATION') ?: 'utf8mb4_0900_ai_ci',
);

$CFG->wwwroot   = getenv('MOODLE_WWWROOT') ?: 'http://localhost:8080';
$CFG->dataroot  = getenv('MOODLE_DATAROOT') ?: '/var/www/moodledata';
$CFG->admin     = getenv('MOODLE_ADMIN') ?: 'admin';

$CFG->directorypermissions = 0777;

require_once(__DIR__ . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
